[data-theme="dark"] {
  /* background-color: #000000 !important; */
  background-color: #09060A !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .card {
  /* background-color: #000000 !important; */
  background-color: #09060A !important;
  color: #eee;
}

[data-theme="dark"] .nav-link {
color: white !important;
  &:hover {
      color: darken($brand-color, 25%);
      }
}


[data-theme="dark"] .navbar-brand{
color: white !important;
&:hover {
    color: darken($brand-color, 25%);
    }
}

[data-theme="dark"] .navbar-collapse{
  color: white !important;
}

[data-theme="dark"] .btn-light, .active{
    background-color: #34495E;
    border-color: #34495E;
    color: white !important;
}




[data-theme="dark"] a {
  /* color: #5DADE2; /*blue*/
  /* color: #F1948A; /*light red */
   color: #2196F3;    /* light blue
    /* color: #F1C40F;    /*yellow */

    /* color: #E74C3C;   /* brick red*/

    /* color: #9CCC65; /*green*/
    text-decoration: none;
    font-weight: normal;

    /* &:visited {
        color: darken($brand-color, 25%);
    } */

    /* &:hover {
        color: $text-color;
        text-decoration: underline;} */
}
