<nav class="navbar navbar-expand-md navbar-dark rounded-bottom" style = "background-color: #000000;" role="navigation">
  <!-- Use this for black background in dark mode style = "background-color: #000000;"" -->
  <!-- Use sticky-top in class above
 -->
  <a class="navbar-brand" href="/">
    <img src="/images/rohithakrishna.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Rohith Krishna</a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-controls="navbar-main">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-main" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            {% for link in site.data.navbar %}
                <li class="nav-item {% if page.url == link.url %}active{% endif %}">
                    <a class="nav-link" href="{{ link.url }}" {% if link.external %}target="_blank"{% endif %}><strong>{{ link.title }}</strong></a>
                </li>
            {% endfor %}
        </ul>


<!-- for dark mode toggler -->
        <div class="nav-link">
        <div class="custom-control custom-switch">
          <a data-toggle="tooltip"
                   data-placement="bottom"
                   title="Dark Mode">
          <input type="checkbox" class="custom-control-input" id="darkSwitch">
          <label class="custom-control-label" for="darkSwitch">  🌓

          </label></a>
        </div>
        <script src="dark-mode-switch.min.js"></script>
        </div>


<!-- For dark mode switch without toggler -->

        <!-- <div class="nav-link">
            <a data-toggle="tooltip"
                     data-placement="bottom"
                     title="Dark Mode">
            <label for="darkSwitch">
           <h2>  🪔</h2>
            </label></a>
          <script src="dark-mode-switch.min.js"></script>
        </div> -->




        <!-- <ul class="nav navbar-nav navbar-right">
            <li {% if page.url == "blog" %}class="active"{% endif %}>
                <a class="nav-link" href="/blog/">Blog</a>
            </li>
        </ul> -->
    </div>
</nav>
